[submodule "Java-WebSocket"]
	path = Java-WebSocket
	url = https://github.com/airutech/Java-WebSocket.git
[submodule "msgpack-java"]
	path = msgpack-java
	url = https://github.com/airutech/msgpack-java.git
[submodule "javaflow-maven-plugin"]
	path = javaflow-maven-plugin
	url = https://github.com/airutech/javaflow-maven-plugin.git
